body{
    margin: 30px;
}
.grid-container{
    background-color: antiquewhite;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 100px);
}
.grid-container > div{
    background-color: rgb(175, 158, 192);
    text-align: center;
    padding: 20px;
    border:1px solid black;
    /* align-items: stretch; */
}
.grid-container > div:nth-child(1){
    grid-column: 1/span 2;
    align-self: start;
}
.grid-container > :nth-child(2){
    grid-column: span 3;
}
.grid-container > :nth-child(3){
    grid-column: span 1;
    align-self: start;
}
.grid-container > :nth-child(4){
    grid-column: 2 / span 4;
    align-self: end;
    justify-self: start;
}
.grid-container > :nth-child(5){
    grid-column: span 2;
}
.grid-container >:nth-child(6){
    grid-column: span 4;
}
